body {
    background-image: url(https://wallpapercat.com/w/full/7/9/3/17005-3840x2160-desktop-4k-mountain-wallpaper-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.over {
    width: 400px;
    height: 300px;
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.852);
    border-radius: 20px;
}

.title {
    text-align: center;

}

.title label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.title input {
    text-align: center;
    width: 90%;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(255, 253, 253, 0.333);
}

.title input:hover {
    border: solid 2px rgb(38, 142, 169);

}

.my-btn {
    position: relative;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;

}


.my-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 0%;
    height: 2px;
    background-color: #ffc506;
    transition: width 0.3s ease;
}


.my-btn:hover::after {
    width: 100%;
}


@media (max-width: 500px) {
    .over {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .title input {
        width: 100%;

    }

    .my-btn {
        font-size: 16px;
        padding: 10px;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .over {
        width: 70%;
        height: auto;
        padding: 25px;
    }

    .title input {
        width: 95%;
    }
}